.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: var(--border-radius);
  background-color: var(--danger-color);
  color: white;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(150%);
  transition: transform 0.3s ease;
  font-size: 14px;
  
  &.show {
    transform: translateX(0);
  }
  
  &.warning {
    background-color: var(--warning-color);
  }
  &.success{
    background-color: var(--success-color);
  }
}

// ===== RESPONSIVE STYLES =====
@media (max-width: 768px) {
  
  .notification {
    left: 20px;
    right: 20px;
    transform: translateY(-150%);
    
    &.show {
      transform: translateY(0);
    }
  }
}
