.wrapper {
    display: flex;
    margin: 0;
    background-color: transparent;
    padding: 0.7em 1.5em;
    font-size: var(--font-size-normal);
    border: 1px solid var(--grey-color);
    text-decoration: none;
    cursor: pointer;
    // color: var(--black-color);
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1em;
    transition: all 0.25s ease;
    gap: 10px;
    &:hover:not(.noHover) {
        // background-color: var(--black-color);
        // color: var(--white-color);
        opacity: 0.6;
        background-color: #f8f9fa;
        border-color: var(--primary-color);
    }
    + .wrapper:not(.width100) {
        margin-left: 8px;
    }
    + .wrapper.width100 {
        margin-top: 8px;
    }
    &.width100{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &.normalHover:hover:not(.noHover){
        background-color: #f8f9fa;
        opacity: 0.6;
        border-color: var(--grey-color);
    }
    &.primaryHover:hover:not(.noHover){
        background-color: var(--primary-color);
        // opacity: 0.6;
        color: var(--white-color);
        // border-color: var(--grey-color);
        opacity: 1;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
//     &.noBorder{
//         border: none;
//     }
    &.small{
        padding: 0.5em 1.2em;
        font-size: var(--font-size-small)
    }
}

.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    // &:hover:not(.noHover) {
    //     // border-color: rgba(22, 24, 35, 0.2);
    //     // background-color: rgba(22, 24, 35, 0.03);
    //     background-color: var(--primary-color);
    //     opacity: 0.8;
    // }
}

.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: var(--primary-color);
    &:hover:not(.noHover) {
        background-color: var(--primary-color);
        opacity: 0.8;
    }
}

.actionBtn{
    border-radius: 8px;
    // &:hover:not(.noHover) {
    //     // border-color: rgba(22, 24, 35, 0.2);
    //     // background-color: rgba(22, 24, 35, 0.03);
    //     background-color: var(--primary-color);
    //     opacity: 0.8;
    // }
}

.sprintBtn{
    background-color: var(--sprint);
    color: var(--white-color);
    border: var(--sprint);
    &:hover:not(.noHover) {
        background-color: var(--sprint);
        opacity: 0.8;
    }
}
