.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.active {
    display: flex;
    animation: fadeIn 0.3s ease;
  }
}

.modal-content {
  background-color: white;
  border-radius: var(--border-radius);
  width: 80%;
  max-width: 800px;
  max-height: 90vh;
  box-shadow: var(--box-shadow);
  overflow: auto;
}
.modal-header {
  padding: 20px;
//   background-color: var(--primary-color);
//   color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-big);
}

.modal-body {
  padding: 30px;
}
.modal-footer {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
