:root {
    --font-size-header-table: 1.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.table-list-projects {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;
    .table-list-projects_headers {
        font-size: var(--font-size-header-table);
        border-bottom: 2px solid #091e420f;
        // font-weight: 300;
    }
    .table-list-projects_items {
        font-size: var(--font-size-normal);
        tr:hover {
            background-color: var(--background-link-dropdown-hover);
            // cursor: pointer;
        }
    }
    th,
    td {
        // padding: 10px;
        // margin: 0;
        line-height: 2.8;
        padding: 0 10px;
    }
    th {
        font-weight: 600;
    }
    th:first-child {
        width: 75px;
    }
    td {
        font-weight: 400;
    }
    th:last-child {
        width: 120px;
    }
    .cell-table-link {
        display: inline-block;
        width: 100%;
        color: var(--black-color);

        &:active {
            color: var(--primary-color);
        }
    }
    .table-link-name {
        text-decoration: none;
        color: var(--primary-color);
        &:hover {
            text-decoration: underline;
        }
    }
    .more-option-cell {
        display: flex;
        gap: 20px;
        text-align: center;
        .cell-table-link:hover {
            color: var(--primary-color);
        }
    }
}

.header {
    font-size: 2rem;
    font-weight: 700;
}

.search-section {
    display: flex;
    gap: 30px;
    .select-type {
        font-size: 1.7rem;
        width: auto;
        width: 20rem;
        color: var(--black-color);
    }
}

.button-trash-section {
    display: flex;
    gap: 30px;
    align-items: center;
    .trash-link {
        font-weight: 500;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        color: var(--black-color);
        text-decoration: none;
        font-size: var(--font-size-normal);
    }
}
