:root {
    --space-between-link: 50px;
    --space-between-link-user-action: 30px;
    --background-link-dropdown-hover: #091e420f;
}

.wrapper {
    height: var(--min-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-header);
    font-weight: 500;
    .navbar-list-items {
        display: flex;
        gap: var(--space-between-link);
        justify-content: center;
        align-items: center;
        .navbar-list-item {
            position: relative;
            .navbar-list-link {
                color: var(--black-color);
                text-decoration: none;
                line-height: 2;
                display: inline-block;
                &.active::before {
                    transform: scaleX(1);
                }
                &.active {
                    color: var(--primary-color);
                }
            }
        }
        &.navbar-user-actions {
            gap: var(--space-between-link-user-action);
            .has-line-separator::after {
                right: calc(-1 * (var(--space-between-link-user-action) / 2));
            }
        }
    }
    .main-navbar-list-items {
        .navbar-list-link::before {
            content: '';
            position: absolute;
            border: 2px solid var(--primary-color);
            // padding: 2px;
            width: 100%;
            bottom: -1px;
            transform: scaleX(0);
            transition: transform 0.3s ease-out;
        }

        .navbar-list-link:hover::before {
            transform: scaleX(1);
        }
    }
}

.has-line-separator::after {
    content: '';
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.356);
    height: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: calc(-1 * (var(--space-between-link) / 2));
}

.drop-down-menu {
    margin-top: 1px;
    min-width: 270px;
    max-width: 350px;
    color: var(--black-color);
}

.drop-down-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    border: 10px solid transparent;
    top: -10px;
}

.navbar-logo {
    width: 125px;
    display: inline-block;
    display: flex;
    align-items: center;
    .navbar-logo-image {
        width: 100%;
    }
}

.drop-down-menu-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

// .drop-down-menu__link {
//     color: var(--black-color);
//     font-size: 1.4rem;
//     text-decoration: none;
//     // display: inline-block;
//     padding: 0.6em;
//     font-weight: 400;
//     &:hover {
//         background-color: var(--background-link-dropdown-hover);
//     }
// }

.drop-down-menu__header {
    font-size: 1.4rem;
    padding: 0.6em 1em;
    font-weight: 700;
    pointer-events: none;
}

.line-separator {
    border-top: 1px solid rgba(22, 24, 35, 0.151);
}

.navbar-list-link:has(~ div .drop-down-menu:hover) {
    &::before {
        transform: scaleX(1);
    }
}
